<main class="main">
  <p>
  Upload a .acr file by clicking import and selecting a file. Then wait for the link to the .tex and .pdf file to appear. The pdf link may take a while (minutes).
  </p>
  <div class="content">
    Select a file to compile
    <input type="file" class="file-upload" #fileupload (change)="onFile($event)" hidden>
    <button type="button" class="btn btn-default navbar-btn shadow-none" (click)="fileupload.click()">Import</button>
  </div>
  {{ state.filename}}
  <div *ngIf="state.error">
    <div class="alert alert-danger" role="alert">
      {{ state.error }}
    </div>
  </div>
  <div *ngIf="state.texUrl">
    <a [href]="state.texUrl" download="puzzle.tex">Download tex</a>
  </div>
  <div *ngIf="state.pdfUrl">
    <a [href]="state.pdfUrl" download="puzzle.pdf">Download pdf</a>
  </div>
</main>

<router-outlet />